*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  /*inline-size: 1200px;*/
  block-size: 100%;
  /*margin: auto;*/
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
}
html,
body,
main,
section,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.clickable-element {
  cursor: url('../images/my-pointer.png'), pointer;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
.content {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: flex-end;
  gap: 32px;
}
.result__video {
  width: 711px;
  height: 386px;
}
.search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-form__label:has(input[type="text"]) {
  width: 225px;
}
.search-form__label:hover .search-form__label-text{
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}
.search-form__label:focus-within {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.search-form__label:focus-within:not(:has(input:focus-visible)) {
  outline: none;
}

.search-form__textfield {
  padding: 1px;
  color: #fff;
  width: 225px;
  height: 24px;
  border: none;
  outline: none;
  background: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 18px;
}
.search-form__textfield:active {
  border: 1px solid #fff;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__label .search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}
.search-form__label input[type='checkbox']:checked + span {
  width: 19px;
  height: 19px;
  background-color: #fff;
  border: 1px solid #000;
  outline: 1px solid #fff;
}

.button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  height: 34px;
  width: 100%;
}
.button:active {
  background-color: #545050;
}
.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}
.button:focus {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
.content__accent {
  color: #545050;
}
.title {
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
  letter-spacing: 0;
  margin-bottom: 26px;
}
.content__list {
  max-height: 40vh;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #D9D9D9 rgba(217,217,217,0.1);
}
.content__list-item {
  margin-bottom: 30px;
}
.content__card-link {
  color: inherit;
  text-decoration: none;
}
.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.content__video-card-description-container:active {
  background-color: #545050;
}
.content__video-card-description-container:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}
/*.content__card-link:focus {*/
/*  outline: 1px solid #fff;*/
/*  outline-offset: 2px;*/
/*}*/

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}