*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
    display: flex;
    align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
}
.clickable-element {
    cursor: url('../images/my-pointer.png'), pointer;
}
.content { /*start*/
    display: grid;
    grid-template-columns: 711px 1fr;
    align-items: center;
    gap: 30px;
}
.result{ /*first-section*/

    align-self: end;
}
.result__video-container{  /*first-section1*/
    position: relative;
    width: 711px;
    height: 399px;
}
.result__video {
    height: 100%;
    width: 100%;
}
.search-form {  /*first-section2*/
    display: flex;
    gap: 40px;
    margin-top: 16px;
}
.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}
.search-form__fieldset{
    border: none;
}
.search-form__fieldset-title {
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    margin-bottom: 5px;
}

.search-form__label {
    display: flex;
    align-items: center;
    font-family: inherit;
    gap: 5px;
}
.search-form__label:has(input[type="text"]) {
    width: 225px;
}
.search-form__label:hover .search-form__label-text{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}
.search-form__label:focus-within {
    outline: 1px solid #fff;
    outline-offset: 2px;
}
.search-form__label:focus-within:not(:has(input:focus-visible)) {
    outline: none;
}

.search-form__textfield {
    padding: 1px;
    color: #fff;
    width: 225px;
    height: 24px;
    border: none;
    outline: none;
    background: transparent;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: inherit;
    font-family: inherit;
}
.search-form__textfield:active {
    border: 1px solid #fff;
}
.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}
.search-form__label .search-form__pseudo-checkbox {
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 1px solid #fff;
}
.search-form__label input[type='checkbox']:checked + span {
    width: 19px;
    height: 19px;
    background-color: #fff;
    border: 1px solid #000;
    outline: 1px solid #fff;
}
.search-form > .button {
    align-self: end;
}
.button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    height: 34px;
    width: 100%;
    font-size: inherit;
    font-weight: 700;
    text-align: center;
    font-family: inherit;
}
.button:active {
    background-color: #545050;
}
.button:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}
.button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}
.title {
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    text-transform: uppercase;
    line-height: 94%;
    letter-spacing: 0;
    margin-bottom: 22px;
}
.content__accent {
    font-family: inherit;
    color: #545050;
}
.content__list {
    position: relative;
    height: 300px;
    width: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #D9D9D9 rgba(217,217,217,0.1);
    padding: 1px;
}
.content__details{ /*second-section*/
    align-items: start;
}
.content__list:has(.preloader){
    overflow: hidden;
}
.content__list-item {
    width: 100%;
    margin-bottom: 30px;
}
.content__list-item:last-child {
    margin-bottom: 0;
}

.content__card-link {
    width: 100%;
    display: block;
    color: inherit;
    text-decoration: none;
    scroll-margin: 6px;
}
.content__card-link:focus {
    outline: none;
}
.content__card-link:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px #fff;
}

.content__video-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
}
.content__video-card-thumbnail {
    width: 194px;
    height: 103px;
}

.content__video-card-description-container {
    max-width: 196px;
}
.content__video-card:has(:hover) .content__video-card-description-container{
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}
.content__video-card:has(:active) .content__video-card-description-container{
    background-color: #545050;
    text-decoration: none;
}

.content__video-card-title {
    max-width: inherit;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 122%;
    text-transform: uppercase;
}
.content__video-card-description {
    max-width: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: 89%;
}
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


